.estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 90px;
    font-size: 4rem;
}

.texto {
    color: #ddd;
    font-size: 1.7rem;
    font-weight: 200;
}

@media (max-width: 414px) {
    .valor {
        height: 150px;
        width: 150px;
        border-radius: 75px;
        font-size: 3.5rem;
    }
}

@media (max-width: 404px) {
    .valor {
        height: 110px;
        width: 110px;
        border-radius: 65px;
        font-size: 3.2rem;
    }
    .texto {
        font-size: 1.5rem;
    }
}
