.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
}

@media (max-width: 596px) {
    .resultado {
        flex-wrap: wrap;
    }
}

@media (max-width: 414px) {
    .resultado {
        height: 150vh;
        font-size: 1.9rem;
        text-align: center;
    }
}

